body {
  font-family: "Nunito", sans-serif;
  background: #11324d;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .nav-link {
  color: white;
}
.about h2 {
  color: aqua;
  font-weight: 100;
  font-size: 1.5rem;
}
.about p {
  color: white;
  line-height: 40px;
}

.navbar.scrolled {
  background: #dcbaa9;
  transition: background 500ms;
}

.content {
  margin-bottom: 30px;
}
#mainNavbar .nav-link:hover {
  color: #ffdab9;
}

#mainNavbar .navbar-brand {
  text-transform: uppercase;
  color: #ffdab9;
}
.contact h2 {
  color: aqua;
  font-weight: 100;
  font-size: 1.5rem;
}
#headingGroup span {
  color: aqua;
}
#headingGroup h1 {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 2rem;
  }
}
